<div class="post" data-index="{{index}}">
  <div class="post-contents">
    <div class="post-title-container">
      <h2>{{title}}</h2>
    </div>
    <div class="post-body-container">
      <p>{{minBody}}</p>
    </div>
  </div>
</div>
